# R / renv
.Rhistory
.RData
.Ruserdata
.Rproj
.Rproj.user/
Rplots.pdf
.Rapp.history

renv/library/
renv/staging/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.bak

# Next.js / Node
node_modules/
.next/
coverage/
.idea/
.venv/
.vercel
